<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Poobank: Sua conta digital</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="principal.component.css">
</head>
<body>
  <div class="menu">
    <ul class="menu-list">
      <li class="menu-item">
        <a class="menu-button" href="/saldo">
          <i class="fa fa-dollar"></i>
          <span class="menu-label">Saldo</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-button" href="/extratos">
          <i class="fa fa-file-text-o"></i>
          <span class="menu-label">Extratos</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-button" href="/pagamentos">
          <i class="fa fa-credit-card"></i>
          <span class="menu-label">Pagamentos</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-button" href="/investimentos">
          <i class="fa fa-line-chart"></i>
          <span class="menu-label">Investimentos</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-button" href="/pix">
          <i class="fa fa-qrcode"></i>
          <span class="menu-label">PIX</span>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>